<a href="https://colab.research.google.com/github/bluechristopher/NDP_Web_App_2023/blob/main/Testing%20Google%20Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import timeit

# Define list comprehension and for-loop versions
list_comp_code = "[x**3 for x in range(50000)]"
loop_code = """
cubes = []
for x in range(50000):
    cubes.append(x**3)
"""

# Measure execution times
list_comp_time = timeit.timeit(list_comp_code, number=1000)
loop_time = timeit.timeit(loop_code, number=1000)

# Show total execution times
print("List comprehension time:", list_comp_time, "sec")
print("For loop time:", loop_time, "sec")
print("Difference:", list_comp_time - loop_time, "sec")

List comprehension time: 17.747400737999996 sec
For loop time: 20.719377213 sec
Difference: -2.9719764750000053 sec

In [28]:
with open("marks.csv") as file:
    x = file.read()

output_list = x.split("\n")

mark_dict = {}

header_list = [header for header in output_list[0].split(",")]

for i in range(1, len(output_list)):
    data = output_list[i].split(",")
    print(data)
    mark_dict[data[0]] = {header_list[i]: data[i]
                          for i in range(1,len(header_list))}

['George', 'M', '95']
['Mindy', 'F', '78']
['Fred', 'M', '56']
['Jason', 'M', '88']
['Joel', 'M', '72']

{'gender': 'M', 'mark': '72'}

In [32]:
for key, val in mark_dict.items():
    print(key, val['gender'], val['mark'])

George M 95
Mindy F 78
Fred M 56
Jason M 88
Joel M 72

In [33]:
import fibonacci